HCRS_Client/HCRS_Client/Connected Services/AppointmentServiceReference/Appointment1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRS_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRS_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
      <xs:element minOccurs="0" name="PatientId" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="ArrayOfAppointment_Patient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment_Patient" nillable="true" type="tns:Appointment_Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment_Patient" nillable="true" type="tns:ArrayOfAppointment_Patient" />
  <xs:complexType name="Appointment_Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientId" type="xs:int" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment_Patient" nillable="true" type="tns:Appointment_Patient" />
  <xs:complexType name="ArrayOfAppointment_Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment_Doctor" nillable="true" type="tns:Appointment_Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment_Doctor" nillable="true" type="tns:ArrayOfAppointment_Doctor" />
  <xs:complexType name="Appointment_Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment_Doctor" nillable="true" type="tns:Appointment_Doctor" />
  <xs:complexType name="AppointmentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="appointmentTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentData" nillable="true" type="tns:AppointmentData" />
  <xs:complexType name="AppointmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentInfo" nillable="true" type="tns:AppointmentInfo" />
</xs:schema>