HCRS_Client/HCRS_Client/Connected Services/AppointmentServiceReference/Appointment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/Health_Care_Record_System/Appointment?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRS_Service" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="appointment" nillable="true" type="q1:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="GetAllPatientsResult" nillable="true" type="q2:ArrayOfAppointment_Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="GetAllDoctorsResult" nillable="true" type="q3:ArrayOfAppointment_Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="GetAppointmentDataResult" nillable="true" type="q4:AppointmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="GetAppointmentByIdResult" nillable="true" type="q5:AppointmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="appointment" nillable="true" type="q6:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppointmentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByPatientName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByPatientNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="SearchAppointmentByPatientNameResult" nillable="true" type="q7:AppointmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByDoctorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByDoctorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="SearchAppointmentByDoctorNameResult" nillable="true" type="q8:AppointmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAppointmentByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRS_Service" minOccurs="0" name="SearchAppointmentByDateResult" nillable="true" type="q9:AppointmentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>